body, html {
    height: 100%;
    background-repeat: no-repeat;
    background-color: #C13100;
}

.card-container.card {
    vertical-align: middle;
    width: 350px;
    padding: 40px 40px;
    margin-left: auto;
    margin-right: auto;
    border: 1px solid black;
    border-radius: 25px;
    background-color:#FF9900;
    margin-top: 40px;
}

.btn {
    font-weight: 700;
    height: 36px;
    width: 260px;
    -moz-user-select: none;
    -webkit-user-select: none;
    user-select: none;
    cursor: default;
}
h1 {
    font-size: 45px;
}
h1,h2,h4 {
    text-align: center;
    color: #FFFBD0;
}

#profile-img {
    width: 200px;
    height: 200px;
    padding-left: 70px;
    padding-right: auto;
}

#inputEmails {
    width: 254px;
    height:30px;
    vertical-align: text-top;
}

.form-signin {
    padding-left: 40px;
    padding-right: auto;
}